.home-container {
    display: flex;
    flex-direction: column;
    height: 100vh; /* Ensure this is full view height */
    font-family: dashboard;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}

.spottr-text {
    color:transparent;
}

.spottr-header {
    background-color: #007bff00;
    color: rgba(212, 226, 255, 0.932);
    padding: 20px;
    text-align: center;
    font-family: storm;
    font-size: 90px;
    margin: 28vh 0 0 28vw;
    scroll-snap-align: start;
}

@font-face {
    font-family: 'nova';
    src: url('./nova.ttf') format('truetype');
}

.home-nav {
    margin-top: 10px;
}

.home-nav a {
    margin: 0 10px;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.home-nav a:hover {
    text-decoration: underline;
}

.home-main {
    display: flex;
    align-content: center;
    justify-content: center;
    flex: 1;
    padding: 20px;
    text-align: left;
    scroll-snap-align: start;
}

.intro {
    padding: 0 20px; /* Adjust as needed */
    height: 100vh; /* Ensure it takes full view height */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    scroll-snap-align: start;
}

.h2 {
    margin: 0 0 0 -90px;
}

.smaller-text {
    font-size: 20px;
    margin: 99vh 0 0 -19.5vw;
    color: rgba(212, 226, 255, 0.726);
    font-family: dashboard;
    max-width:120%
}

.emphasized-text {
    font-size: 35px;
    max-width: 110%;
    margin: -35vh 0 0 -47vw;
    color: rgba(212, 226, 255, 0.726);
    font-family: dashboard;
    font-weight: normal;
}

.emphasized-text-lower {
    position: relative;
    top:32vh;
    left: 15vw;
    font-size: 35px;
    max-width: 110%;
    color: rgba(212, 226, 255, 0.726);
    font-family: dashboard;
    font-weight: normal;
}

.home-header {
    font-size: 28px;
    font-family: nova;
    margin: -70vh 0 0 -17vw;
    color: rgba(165, 165, 165, 0.568);
}

.our-software,
.critical-communications,
.realtime-radar,
.features-forecast {
    background-color: rgb(255, 255, 255);
    font-family: nova;
    font-weight: 500;
    scroll-snap-align: start;
    height: 100vh; /* Ensure each section takes full view height */
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.software-header {
    text-align: center;
    color: rgba(0, 0, 0, 0.315);
    font-size: 18px;
}

.easy-powerful {
    text-align: center;
    color: rgba(0, 0, 0, 0.705);
    font-size: 60px;
    margin: 20px 0 0 0;
}

.features-header {
    font-size: 42px;
    margin: 225px 0 0 500px;
    color: rgba(0, 0, 0, 0.616);
}

.features li {
    font-size: 20px;
    margin-left: 480px; 
    margin-bottom: 25px; 
    color: rgba(0, 0, 0, 0.616);
}

.features-img {
    margin: -520px 0 0 1370px;
    width: 35%;
}

.critical-communications-header {
    font-size: 40px;
    color: rgba(0, 0, 0, 0.616);
    margin: 235px 0 0 505px;
}

.critical-motto {
    font-size: 20px;
    color: rgba(0, 0, 0, 0.616);
    margin: 5px 0 0 505px;
}

.communications-content {
    margin-left: 510px;
    color: rgba(0, 0, 0, 0.616);
}

.communications-content li {
    font-size: 20px;
    margin-bottom: 20px;
}

.realtime-radar-header {
    font-size: 40px;
    color: rgba(0, 0, 0, 0.616);
    margin: 195px 0 0 505px;
}

.radar-content {
    font-size: 20px;
    color: rgba(0, 0, 0, 0.616);
    margin: 5px 0 0 505px;
}

.hourly_demo {
    width: 35%;
    border-radius: 20px;
    box-shadow: 12px 10px 15px rgba(0, 0, 0, 0.500);
    margin: -155px 0 0 1350px;
}

.radar_demo {
    width: 35%;
    border-radius: 20px;
    box-shadow: 12px 10px 15px rgba(0, 0, 0, 0.500);
    margin: -195px 0 0 1350px;
}

.alert-button-demo {
    width: 5%;
    border-radius: 15px;
    box-shadow: 12px 10px 15px rgba(0, 0, 0, 0.500);
    margin: -450px 0px 345px 1500px;
    z-index: 9999 !important;
}

.alert-demo {
    width: 25%;
    border-radius: 20px;
    box-shadow: 12px 10px 15px rgba(0, 0, 0, 0.500);
    margin: -355px 0 0 1535px;
    z-index: 9990 !important;
}

.features-forecast-header {
    font-size: 40px;
    color: rgba(0, 0, 0, 0.616);
}

.forecast-content {
    font-size: 20px;
    color: rgba(0, 0, 0, 0.616);
    margin: 5px 0 0 505px;
}

.home-footer {
    background-color: #f1f1f100;
    text-align: center;
    padding: 10px;
    scroll-snap-align: start;
    height: 100vh; 
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-container {
    position: relative;
    top: -9vh;
    left: -28.5vw;
    margin: 0px 0 0 14vw;
}

.trial-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 14px 16px;
    margin: 50px 0 0 200px;
    font-size: 16px;
    cursor: pointer;
    font-family: nova;
}

.trial-button {
    margin-left: 0vw;
}

.demo-button {
    background-color: #007bff00;
    color: white;
    border: 1px solid #017bff;
    padding: 14px 16px;
    margin: 50px 0 0 20px;
    font-size: 16px;
    cursor: pointer;
    font-family: nova;
}

.trial-button:hover {
    background-color: #0057b300;
    border: 1px solid #017bff;
    transition: 0.4s;
}

.demo-button:hover {
    background-color: #007bff;
    border: 1px solid #017bff;
    transition: 0.4s;
}
