html, body {
    height: 100%;
    margin: 0;
    overflow: hidden; 
}

.home-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-family: dashboard;
    overflow-y: scroll; 
    scroll-snap-type: y mandatory;
}

.spottr-text {
    color: transparent;
}

.spottr-header {
    background-color: #007bff00;
    color: rgba(212, 226, 255, 0.932);
    padding: 20px;
    text-align: center;
    font-family: storm;
    font-size: 90px;
    margin: 28vh 0 0 28vw;
    scroll-snap-align: start;
}

@font-face {
    font-family: 'nova';
    src: url('./nova.ttf') format('truetype');
}

.home-nav {
    margin-top: 10px;
}

.home-nav a {
    margin: 0 10px;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.home-nav a:hover {
    text-decoration: underline;
}

.home-main {
    display: flex;
    align-content: center;
    justify-content: center;
    flex: 1;
    padding: 20px;
    text-align: left;
    scroll-snap-align: start;
}

.intro {
    padding: 0 20px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    scroll-snap-align: start;
}

.h2 {
    margin: 0 0 0 -90px;
}

.smaller-text {
    font-size: 20px;
    margin: 99vh 0 0 -19.5vw;
    color: rgba(212, 226, 255, 0.726);
    font-family: dashboard;
    max-width: 120%;
}

.emphasized-text {
    font-size: 35px;
    max-width: 110%;
    margin: -35vh 0 0 -47vw;
    color: rgba(212, 226, 255, 0.726);
    font-family: dashboard;
    font-weight: normal;
}

.emphasized-text-lower {
    position: relative;
    top: 32vh;
    left: 15vw;
    font-size: 35px;
    max-width: 110%;
    color: rgba(212, 226, 255, 0.726);
    font-family: dashboard;
    font-weight: normal;
}

.home-header {
    font-size: 28px;
    font-family: nova;
    margin: -70vh 0 0 -17vw;
    color: rgba(165, 165, 165, 0.568);
}

.our-software,
.critical-communications,
.realtime-radar,
.features-forecast {
    background-color: rgb(211, 211, 211);
    font-family: nova;
    font-weight: 500;
    scroll-snap-align: start;
    height: 100vh;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.software-header {
    text-align: center;
    color: rgba(0, 0, 0, 0.315);
    font-size: 18px;
}

.easy-powerful {
    text-align: center;
    color: rgba(0, 0, 0, 0.705);
    font-size: 60px;
    margin: 20px 0 0 0;
}

.features-header {
    font-size: 55px;
    margin: 225px 0 0 400px;
    color: rgba(0, 0, 0, 0.616);
}

.features li {
    font-size: 25px;
    margin: 0 0 0 400px;
    margin-bottom: 25px;
    color: rgba(0, 0, 0, 0.616);
}

.features-img {
    margin: -520px 0 0 1300px;
    width: 35%;
}

.critical-communications-header {
    font-size: 55px;
    color: rgba(0, 0, 0, 0.616);
    margin: 235px 0 0 380px;
}

.critical-motto {
    font-size: 20px;
    color: rgba(0, 0, 0, 0.616);
    margin: 0px 0 0 405px;
}

.communications-content {
    margin: 15px 0 0 390px;
    color: rgba(0, 0, 0, 0.616);
}

.communications-content li {
    font-size: 25px;
    margin-bottom: 10px;
}


.realtime-radar-header {
    font-size: 55px;
    color: rgba(0, 0, 0, 0.616);
    margin: 300px 0 0 305px;
}

.radar-content {
    font-size: 22px;
    color: rgba(0, 0, 0, 0.616);
    margin: -5px 0 0 310px;
}

.radar-list {
    font-size: 25px;
    margin: 0 0 0 300px;  
    color: rgba(0, 0, 0, 0.616);
}

.radar-maps {
    width: 8%;
    border-radius: 20px;
    margin: -250px 0 0 2100px;
    box-shadow: 12px 10px 15px rgba(0, 0, 0, 0.500);
}


.radar_demo {
    width: 35%;
    border-radius: 20px;
    box-shadow: 12px 10px 15px rgba(0, 0, 0, 0.500);
    margin: -275px 0 0 1350px;
}

.alert-button-demo {
    width: 6%;
    border-radius: 20px;
    box-shadow: 12px 10px 15px rgba(0, 0, 0, 0.500);
    margin: -270px 0px 345px 1320px;
    z-index: 9999 !important;
}

.alert-demo {
    width: 32%;
    border-radius: 20px;
    box-shadow: 12px 10px 15px rgba(0, 0, 0, 0.500);
    margin: -345px 0 0 1400px;
    z-index: 9990 !important;
}

.features-forecast-header {
    font-size: 55px;
    color: rgba(0, 0, 0, 0.616);
    margin: 50px 0 0 305px;
}

.forecast-content {
    font-size: 22px;
    color: rgba(0, 0, 0, 0.616);
    margin: 0px 0 0 315px;
}

.forecast-list {
    font-size: 25px;
    margin: 0 0 0 300px;
    color: rgba(0, 0, 0, 0.616);
    padding-bottom: 50px;
}

.hourly_demo {
    width: 37%;
    border-radius: 20px;
    margin: -255px 0 0 1350px;
    padding-bottom: 100px;
}

.pricing-button {
    background-color: #004a99; 
    color: white;
    padding: 18px 32px; 
    font-size: 24px; 
    border: 1px solid rgb(255, 217, 0); 
    border-radius: 35px; 
    cursor: pointer; 
    transition: background-color 0.3s ease; 
    margin: -60px 0 0 0; 
}

.pricing-button:hover {
    background-color: #0057b300; 
    color: black;
}

.home-footer {
    background-color: rgb(211, 211, 211);
    color: black;
    text-align: center;
    padding: 10px;
    scroll-snap-align: start;
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    margin: 0px 0 0 0;
}



.button-container {
    position: relative;
    top: -9vh;
    left: -28.5vw;
    margin: 0px 0 0 14vw;
}

.trial-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 14px 16px;
    margin: 50px 0 0 200px;
    font-size: 16px;
    cursor: pointer;
    font-family: nova;
}

.trial-button {
    margin-left: 0vw;
}

.demo-button {
    background-color: #007bff00;
    color: white;
    border: 1px solid #017bff;
    padding: 14px 16px;
    margin: 50px 0 0 20px;
    font-size: 16px;
    cursor: pointer;
    font-family: nova;
}

.trial-button:hover {
    background-color: #0057b300;
    border: 1px solid #017bff;
    transition: 0.4s;
}

.demo-button:hover {
    background-color: #007bff;
    border: 1px solid #017bff;
    transition: 0.4s;
}