@media (max-width: 2560px) {
    .login-container {
        max-width: 600px;
        height: 510px;
        margin: 15vh auto;
        padding: 30px;
        border-radius: 18px;
        background-color: #1e1e2f;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        color: #ff0000;
        border: 3px solid #000e2259;
    }
    
    .login-container h2 {
        font-size: 30px;
        text-align: center;
        margin-bottom: 45px;
        color: #ffffffd0;
    }
    
    .login-error {
        color: red;
        text-align: center;
        margin-top: 10px;
      }
      

    .rs-form-control {
        width: 100%;
        background-color: rgba(248, 204, 6, 0);
        border-radius: 22px;
        color: #ff0000;
        margin: 5px 0 30px -30px;
    }
    
    .rs-form-control input {
        width: 100%;
        height: 35px;
        margin: -5px 0 0 -10px;
        background-color: rgb(0, 4, 26);
        font-size: 16px;
        color: rgb(255, 255, 255);
        border: 2px solid #00bdec7a;
        border-radius: 55px;
        padding: 10px;;
    }
    
    .rs-form-control-label {
        color: rgba(255, 255, 255, 0.842);
        position: relative;
        top:-0.5vh;
        left: -1.2vw;
    }
    
    .rs-btn {
        background: linear-gradient(90deg, #00c6ff, #0072ff);
        border: none;
        color: #fff;
        font-size: 20px;
        padding: 14px 80px;
        border-radius: 65px;
        flex-shrink: 0;
        margin-left: 150px; 
        margin-top: 5px;
    }

    .login-btn {
        background: linear-gradient(90deg, #00c6ff, #0072ff);
        border: none;
        color: #fff;
        font-size: 18px !important;
        padding: 13px 55px !important;
        border-radius: 65px;
        flex-shrink: 0;
        margin-left: 60px !important; 
        margin-top: 5px !important;
    }
    
    .rs-checkbox {
        color: #fff;
        display: flex;
        align-items: center;
        margin-left: 30px; 
        margin-top: 10px;
    }
    
    .rs-form-group {
        margin: 30px 80px 0 140px;
        color: #1e1e2f;
        background-color: #1e1e2f;
    }
    
    .checkbox-and-button {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 20px;
    }
    
    .forgot-password {
        text-align: center;
        margin-top: 20px;
    }
    
    .forgot-password a {
        color: #00c6ff;
        text-decoration: none;
    }
    
    .forgot-password a:hover {
        text-decoration: underline;
    }

    .create-account {
        color: white;
        text-align: center;
    }

    .create-account a {
        color: #09c5ff;
    }

    .create-account a:hover {
        text-decoration: underline;
    }
    
    .signup-card {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        color: #ffffffd0;
    }
    
    .signup-card span {
        margin-right: 5px;
    }
    
    .signup-link {
        color: #00c6ff;
        text-decoration: none;
    }
    
    .signup-link:hover {
        text-decoration: underline;
    }
    
}

/* 1920x1080 */

@media (max-width: 1920px) {
    .login-container {
        max-width: 475px;
        height: 350px;
        margin: 15vh auto;
        padding: 30px;
        border-radius: 18px;
        background-color: #1e1e2f;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        color: #ff0000;
        border: 3px solid #000e2259;
    }

    .login-container h2 {
        font-size: 18px;
        text-align: center;
        margin-top: -5px;
        color: #ffffffd0;
    }

    .rs-form-control {
        width: 100%;
        background-color: rgba(248, 204, 6, 0);
        border-radius: 22px;
        color: #ff0000;
        margin: -10px 0 30px -30px;
        font-size: 12px;
    }

    .rs-form-control input {
        width: 100%;
        height: 15px;
        margin: -55px 0 0 -10px;
        background-color: rgb(0, 4, 26);
        font-size: 12px;
        color: rgb(255, 255, 255);
        border: 2px solid #00bdec7a;
        border-radius: 55px;
        padding: 10px;;
        
    }

    .rs-form-control-label {
        color: rgba(255, 255, 255, 0.842);
        position: relative;
        top:-2.0vh;
        left: -1.9vw;
        font-size: 12px;
    }

    .login-btn {
        background: linear-gradient(90deg, #00c6ff, #0072ff);
        border: none;
        color: #fff;
        font-size: 14px !important;
        padding: 13px 45px !important;
        border-radius: 65px;
        flex-shrink: 0;
        margin-left: 140px !important; 
        margin-top: 5px !important;
    }

    .rs-checkbox {
        color: #fff;
        display: flex;
        align-items: center;
        margin-left: 30px; 
        margin-top: 0px;
        font-size: 12px;
    }

    .rs-form-group {
        margin: 30px 80px 0 140px;
        color: #1e1e2f;
        background-color: #1e1e2f;
    }

    .checkbox-and-button {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 20px;
    }

    .forgot-password {
        text-align: center;
        margin: 10px 0 0 15px;
        font-size: 12px;
    }

    .forgot-password a {
        color: #00c6ff;
        text-decoration: none;
    }

    .forgot-password a:hover {
        text-decoration: underline;
    }

    .signup-card {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        color: #ffffffd0;
        font-size: 12px;
    }
    
    .signup-card span {
        margin-right: 5px;
    }
    
    .signup-link {
        color: #00c6ff;
        text-decoration: none;
    }
    
    .signup-link:hover {
        text-decoration: underline;
    }
}