/* src/components/NewsBar.css */
.news-bar {
    width: 100%;
    background-color: #f8be0075;
    color: rgb(0, 0, 0);
    padding: 10px 0;
    overflow: hidden;
    white-space: nowrap;
    position: absolute;
    top: 0px; /* Adjust this value based on your navbar height */
    left: 0;
    z-index: 1;
    box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.400);
  }

.news-item {
    display: inline-block;
    margin-right: 50px; /* Spacing between items */
    font-size: 1em;
}

.news-item a {
    color: white;
    text-decoration: none;
}

.news-item a:hover {
    text-decoration: underline;
}

/* Responsive design adjustments */
@media (max-width: 768px) {
    .news-bar {
        padding: 10px 5px;
    }

    .news-item {
        margin-right: 20px; /* Reduce spacing for smaller screens */
        font-size: 0.9em;
    }
}

@media (max-width: 480px) {
    .news-bar {
        padding: 10px 3px;
    }

    .news-item {
        margin-right: 10px; /* Further reduce spacing for smaller screens */
        font-size: 0.8em;
    }
}
